            <li{{classes}}>
                <input type="text" value="{{doc}}">
                <input type="hidden" value="{{doc}}">
                <input type="password" value="" placeholder="Enter password">
                <textarea></textarea>
                <div>{{encryptedContent}}</div>
                <button class="save">Save</button>
                <button class="delete">Delete</button>
                <p></p>
            </li>