# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
 
# track readme.md in the root (i.e. do NOT ignore it)
!readme.md
 
# ignore all files that start with ~
~*

# Ignore lets encrypt stuff
.well-known/*
 
# ignore log files, databases, save and config files
*.log
*.sql
*.sqlite
wp-config*
*.save

wp-content/blogs.dir/*
wp-content/uploads/*

