/**
 * This is the original SASS build code for the CSS used in the theme.
 */

$red: #dd0000;
$red_hover: #dd3333;
$hamburger_menu_width: 23rem;
$subtle_grey: #f5f5f5;
$light_grey: #efefef;

/* =Fonts
-------------------------------------------------------------- */
@font-face {
		font-family: 'Icons';
		src: url('../fonts/icons/icomoon.eot');
		src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/icons/icomoon.woff') format('woff'),
				 url('../fonts/icons/icomoon.ttf') format('truetype'),
				 url('../fonts/icons/icomoon.svg#icomoon') format('svg');
		font-weight: 400;
		font-style: normal;
}

@font-face {
		font-family: 'Open Sans Light';
		src: url('../fonts/open-sans-light/OpenSans-Light-webfont.eot');
		src: url('../fonts/open-sans-light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/open-sans-light/OpenSans-Light-webfont.woff') format('woff'),
				 url('../fonts/open-sans-light/OpenSans-Light-webfont.ttf') format('truetype'),
				 url('../fonts/open-sans-light/OpenSans-Light-webfont.svg#open_sanscondensed_light') format('svg');
		font-weight: 100;
		font-style: normal;
}

@font-face {
		font-family: 'Open Sans';
		src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
		src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
				 url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
				 url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sanscondensed_light') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Open Sans Bold';
		src: url('../fonts/open-sans-bold/OpenSans-Bold-webfont.eot');
		src: url('../fonts/open-sans-bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/open-sans-bold/OpenSans-Bold-webfont.woff') format('woff'),
				 url('../fonts/open-sans-bold/OpenSans-Bold-webfont.ttf') format('truetype'),
				 url('../fonts/open-sans-bold/OpenSans-Bold-webfont.svg#open_sanscondensed_light') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Open Sans Extra Bold';
		src: url('../fonts/open-sans-extrabold/OpenSans-ExtraBold-webfont.eot');
		src: url('../fonts/open-sans-extrabold/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/open-sans-extrabold/OpenSans-ExtraBold-webfont.woff') format('woff'),
				 url('../fonts/open-sans-extrabold/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
				 url('../fonts/open-sans-extrabold/OpenSans-ExtraBold-webfont.svg#open_sanscondensed_light') format('svg');
		font-weight: normal;
		font-style: normal;
}


/* =Reset
-------------------------------------------------------------- */
body,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
}

body {

	background: #f8f8f8;
/*
	background-image: url(https://images.unsplash.com/photo-1468817814611-b7edf94b5d60?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=);
	background-size: 100%;
	background-position: 630px -660px;
*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #000;
}

/* =Accessibility settings
-------------------------------------------------------------- */
.screen-reader-text {
	display: none;
}

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
	display: block;
}

/* =Links
-------------------------------------------------------------- */
a:visited,
a {
	color: $red;
	text-decoration: none;
}

a:hover {
	color: $red;
	text-decoration: underline;
}

/* =Wrapper
-------------------------------------------------------------- */

.wrapper {
	clear: both;
	overflow:auto;
	margin: 7rem auto 9rem auto;
	width: 86%;
	padding: 0 4%;
	word-wrap: break-word;
}

/* =Header
-------------------------------------------------------------- */

.hamburger {

	float: left;
	margin: 0.6rem 0 0 1rem;
	font-size: 1.6rem;
	color: #333;

	&:before {
		display: block;
		border-radius: 2rem;
		width: 1.5rem;
		height: 1.5rem;
		padding: 0.7rem 1rem 1.3rem 1rem;
		content: '\2630';
		cursor: pointer;
	}

	&:hover:before {
		background: $red;
		color: #fff;
		cursor: pointer;
	}

}

#hamburger-menu {

	z-index: 10;
	background: #fff;
	position: fixed;
	top: 0;
	width: $hamburger_menu_width;
	transition: 0.25s;
	left: -$hamburger_menu_width;
	box-shadow: 0px 0 5px rgba(0,0,0,0.3);
	padding-bottom: 999em;

	&.open {
		transition: 0.25s;
		left: 0;
	}

	ul {

		list-style: none;
		margin: 2rem 0;
		padding: 0;
		float: left;
		width: 100%;

		li {

			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 1rem;
			font-family: "Open Sans Bold", sans-serif;

			&:hover {
				background: $light_grey;
			}

			&.current-menu-item {

				background: $subtle_grey;

				a {
					pointer-events: none;
					cursor: default;
					color: $red;
				}

			}

		}

		a {
			display: block;
			width: 80%;
			padding: 1rem 10%;
			color: #333;
			text-indent: 1.5rem;

			&:before {
				display: inline-block;
				position: relative;
				left: -1.5rem;
				font-family: Icons;
				font-size: 1.5rem;
			}

			&:hover {
				text-decoration: none;
			}

		}

	}

}

li.home a:before {
	content: "\e908";
}

li.record a:before {
	content: "\e90a";
}

li.upload a:before {
	content: "\e90d";
}

li.login a:before {
	content: "\e90c";
}

li.register a:before {
	content: "\e90c";
}

li.about a:before {
	 content: "\e910";
}

li.contact a:before {
	content: "\e90e";
}

li.legal-notice a:before {
	content: "\e90b";
}

.logo {
	float: left;
	font-family: 'Open Sans Extra Bold', sans-serif;
	font-weight: 100;
	margin: 0.8rem 0 0 0.2rem;
	padding: 0;
	font-size: 2rem;
	color: #333;

	span {
		color: $red !important;
	}

}


header {

	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	margin: 0 0 4rem 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);

	nav {

		float: right;
		margin: 0 2rem 0 0;

		a:visited,
		a {
			display: block;
			color: #000;
			font-family: 'Open Sans';
			background: none;
			border: none;
			font-size: 1.2rem;
			padding: 1.8rem 1rem 1.4rem 1rem;
			margin: 0 0.1rem 5px 0.1rem;
		}

		li.current-menu-item a,
		a:hover {
			cursor: pointer;
			border-bottom: 5px solid $red;
			margin-bottom: 0;
			text-decoration: none;
		}

	}

	ul,
	ul li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1rem;
	}

}

.select-box {

	float: left;
	margin: 1.5rem 0 0 2rem;
	height: 2rem;
	line-height: 1.8rem;
	overflow: hidden;
	width: 8rem;
	padding-left: 1rem;
	background: none;

	label {
		display: none;
	}

	select {
											font-family: 'Open Sans';
		background: none;
		border: none;
		font-size: 1.2rem;
		height: 39px;
		padding: 0 5px 5px 5px; /* If you add too much padding here, the options won't show in IE */
		width: 9rem;
	}

	option {
		font-size: 1.2rem;
		color: #000 !important;
	}

}

/* =Document list
-------------------------------------------------------------- */

#documents {
	margin: 10rem 0;
	width: 100%;
	list-style: none;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	li {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
		display:table; /* Handles column breaking in FF 20+ */

		list-style: none;
		margin: 0 0 1em 0;
		font-size: 0.9em;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		line-height: 1.3rem;

		strong {
			display: block;
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}

		a {
			width: 80%;
			display: block;
			color: #000;
			padding: 0.5rem 0;

			&:hover {
				color: $red;
				text-decoration: none
			}

		}
	}
}

/* =Audio controls
-------------------------------------------------------------- */

/* Icon buttons */

.icon-button {
	display: inline-block;
	font-family: Icons;
	font-size: 1.6rem;
}

.icon-button span {
	display: none;
}

td.icon-button span {
	display: inline-block;
}

.icon-button span.value {
	display: block;
	width: 100%;
	text-indent: 0.5rem;
	font-size: 0.7rem;
	font-family: 'Open Sans';
}

.icon-button:hover {
	color: $red;
	cursor: pointer;
}

/* Main play controls */

#play-controls {
	width: 50%;
	margin: 0 auto;
}

#repeat-button,
#previous,
#next {
	position: relative;
	top: -0.2rem;
}

#repeat-button {

	&:before {
		margin-right: 2rem;
		content: "\ea2d";
	}

	&.active:before {
		color: $red;
	}

}

#shuffle-button {

	&:before {
		margin-left: 2rem;
		content: "\ea30";
	}

	&.active:before {
		color: $red;
	}

}

#previous:before {
	content: "\ea23";
}

#play {
	font-size: 2rem;
	color: #fff;
	border-radius: 2rem;
	background: $red;
	padding: 1rem;
	margin: 0 1rem;
}

#play:hover {
	background: $red_hover;
}

#next:before {
	content: "\ea24";
}

#play:before {
	content: "\ea1d";
}

#play.paused:before {
	content: "\ea1c";
}

/* Volume controls */

#volume-wrapper {
	display: block;
	z-index: 3;
	float: right;
	width: 25%;
	margin: 1rem 2rem 0 0;
}

#volume-wrapper:hover #volume-control {
	visibility: visible;
}

#mute {
	float: right;
}

#mute:before {
	content: "\ea26";
}

#mute.muted:before {
	content: "\ea2a";
}

#volume-control {
	float: right;
	visibility: hidden;
	width: 10rem;
	height: 12px;
	margin: 0.35rem 1rem 0 0;
	position: relative;
	cursor: pointer;
}

#volume-control:before {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #aaa;
}

#volume-control span {
	display: block;
	height: 12px;
	position: relative;
	z-index: 2;
	background: $red;
	cursor: pointer;
	border-radius: 6px;
}

/* Track information */
#track-information {
	float: left;
	width: 15%;
	margin: 0.1rem 0 0 2%;
	text-align: left;
}

#track-description {
	float: left;
	display: none;

	&:hover h2,
	&:hover p {
		color: $red;
	}

	h2 {
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: left;
		font-size: 1.0rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		line-height: 1.5rem;
	}

	p {
		display: inline-block;
		margin: 0.2rem 0 0 0;
		padding: 0;
		width: 100%;
		text-align: left;
		font-size: 0.8rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		line-height: 1.2rem;
	}

}

#ratings {
	float: left;
	width: auto;
	margin: 1rem 0 0 2%;

	div {
		width: 50%;
		float: left;
	}

}

#thumbs-up:before {
	content: "\e902";
}

#thumbs-down:before {
	content: "\e900";
}










#volume-value-wrapper {
	float: left;
	width: 10%;
	line-height:1;
}

#time-stamp {
	float: left;
	width:100%;
	height:20px;
	margin: 0 auto;
	position:relative;
	cursor: pointer;
}

#time-stamp:before,
#time-elapsed-line {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
}

#time-stamp:before {
	content: "";
	width: 100%;
	background: #fff;
}

#time-elapsed-line {
	width: 0;
	background: $red;
}

#time-stamp span {
	display: block;
	visibility: hidden;
	height: inherit;
	position: relative;
	top: -3px;
	height: 12px;
	z-index: 2;
	background: $red;
	cursor: pointer;
	border-radius: 6px;
}

#time-stamp span.mouse-down {
	background: blue;
}

footer:hover #time-stamp span {
	visibility: visible;
}

/* =Index
-------------------------------------------------------------- */

.box {

	float: left;
	width: 22%;
	margin: 1.5%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);

	&:hover {
		opacity: 0.8;
		text-decoration: none;
	}

	span {
		display: block;
		width: 100%;
		border:1px solid #ddd;
		background-color: #fff;
		background-image: url(../images/genre1.jpg); /* Default image */
		background-size: cover !important;
	}

	strong {
		margin-top: 75%;
		display: block;
		background: #fff;
		padding: 5% 7%;
		color: #000;
		font-weight: normal;
		font-size: 1rem;
	}

}

body.home,
body.archive {
	
	#content-wrapper-inner {
		max-width: 90%;
		margin-top: 2rem;
	}

}


/* =Single posts/pages
-------------------------------------------------------------- */

body.single-audio {

	#content-wrapper {
		background: $red;
	}

	#title,
	#content {
		color: #fff;
	}

}

.wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

#content-wrapper {
	overflow: auto;
	width: 100%;
	margin-top: 0.2rem;
	margin-bottom: 4rem;
}

#content-wrapper-inner {
	margin: 4rem auto 0 auto;
	width: 100%;
	max-width: 960px;
}

#content-wrapper-inner img {
	float: right;
	width: 40%;
	height: auto;
}

#canvas {
	width: 100%;
	height: 20rem;
	margin: 0 auto 2rem auto;
}

/* =Contents
-------------------------------------------------------------- */

article {
	max-width: 980px;
	margin: 10rem auto 12rem auto;
}

#tags {

	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 1rem;

	list-style: none;

	li {

		display: inline-block;
		list-style: none;
		font-size: 1rem;

		&:after {
			content: ", ";
		}

		&:last-child:after {
			content: ".";
		}

	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #000;
}

h1 {
	font-size: 3rem;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.7rem;
	margin: 1rem 0 0.3rem;
}

h3 {
	font-size: 1.3rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 1rem 0 0.3rem;
}

h4,
h5,
h6 {
	font-size: 1.3rem;
	text-transform: uppercase;
	margin: 1rem 0 0.3rem;
}

p,
li,
dd,
dt,
caption,
th,
td {
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

p {
	margin: 1.5rem 0;
	line-height: 2.3rem;
	word-wrap: break-word;
}

ul,
ol {
	margin: 1rem 0 1rem 2rem;
}

ul li {
	list-style: square;
	line-height: 2rem;
	margin: 1rem 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
	line-height: 2rem;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

blockquote {

	position: relative;
	margin: 1.5rem 0 1.5rem 2.5rem;
	padding: 0 1rem 0 1rem;
}

blockquote p:before,
blockquote p:after {
	font-family: serif;
	position: absolute;
	font-size: 3rem;
}

blockquote p:before {
	left: -0.3rem;
	top: 0.05rem;
	content:"\201C";
}

blockquote p:after {
	margin-top: 0.1rem;
	margin-left: 0.05rem;
	content:"\201D";
}

blockquote,
blockquote p {
	color: #999;
	font-style: italic;
}

code,
pre {
	max-width: 100%;
	overflow: auto;
	font-family: monospace;
	font-size: 1.2rem;
}

iframe {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

body .wp-caption {
	max-width: 94%;
	margin: 1em auto;
	padding: 2% 2% 0 2%;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.wp-caption p {
	margin: 0.4rem 0;
	padding: 0 0.8rem;
	font-size: 0.8rem;
	line-height: 1.5rem;
	color: #666;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
	margin: 0.4rem auto 0;
}

.wp-video {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.alignleft {
	float: left;
	margin: 0 1rem 1rem 0;
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

.alignright {
	float: right;
	margin: 0 0 1rem 1rem;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;

	margin: 0;
	width: 100%;
}

tr {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 1.3rem;

}

caption,
th,
td {
	padding: 2rem 5%;
	font-weight: normal;
	font-size: 1rem;
}

caption {
	font-size: 1rem;
	margin: 1.5rem 0;
}

th {
	padding: 0 2rem;
	font-weight: normal;
	font-size: 1rem;
}

td {
	border-top: 1px solid #ededed;
}

/* =Comments
-------------------------------------------------------------- */
#discussion {
	display: none;
}

.comment-form-author {
	display: none;
}

#commentform {
	width: 100%;
}

#comments {
	display: none;
	margin: 4rem auto 4rem auto;
	max-width: 980px;
}

body.single-audio {

	#comments {
		display: block;
	}

}

#comments li,
#comments p {
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin: 0.4rem 0;
}

#comments cite {
	font-style: normal;
}

#comments .comment-author,
#comments .comment-meta {
	font-size: 0.9rem;
	line-height: 1.4rem;
	font-weight: 600;
}

#comments .reply {
	display: inline-block;
	background: $red;
	color: #fff;
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: uppercase;
}

#comments .reply a {
	color: #fff;
	padding: 0.1rem 0.5rem;
}

#comments .reply:hover {
	opacity: 0.9;
}

#comments ol {
	margin: 0;
	padding: 0;
}

#comments li {
	list-style: none;
}

/* =Forms
-------------------------------------------------------------- */
textarea,
input {
	border: 1px solid #ddd;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	padding: 1rem 2%;
	width: 96%;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: #000;
}
input:-ms-input-placeholder { /* IE 10+ */
	color: #000;
}
input:-moz-placeholder { /* Firefox 18- */
	color: #000;
}

input[type=submit] {
	background: $red;
	color: #fff;
	font-weight: 600;
	max-width: 300px;
}

input[type=submit]:hover {
	opacity: 0.9;
	cursor: pointer;
}

/* =Footer
-------------------------------------------------------------- */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6.5rem;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	text-align: center;
}

#footer {
	visibility: hidden; /* Shown via JS after page loaded */
}


/* =Small browser widths
-------------------------------------------------------------- */

@media only screen and (max-width: 760px) {

	header {

		nav {

			margin-right: 0;

			ul {
				margin-left: 5%;
				width: 320px;
				white-space: nowrap;
				overflow-y: hidden;
				overflow-x: scroll;
				-webkit-overflow-scrolling: touch;
			}

			a {
				padding: 0.6rem 0.6rem 0.8rem 0.6rem;
				margin: 0 0.1rem 5px 0.1rem;
			}

		}

	}

	.wrapper {
		width: 100%;
	}

	#comments,
	#content-wrapper-inner {
		width: 84%;
		padding: 0 8%;
	}

	body.home #content-wrapper-inner,
	body.archive #content-wrapper-inner {
		width: 96%;
		max-width: 96%;
		margin-right: 2%;
		margin-left: 2%;
		padding: 0;
	}

	.box {
		width: 44%;
		margin: 3%;
	}

	#hamburger-menu {
		overflow-x: hidden;
		overflow-y: scroll;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		max-width: 90%;
	}

	/* Audio player */
	#volume-wrapper,
	#track-information {
		display: none;
	}

	/* Ratings - thumbs up/thumbs down */
	#thumbs-up,
	#thumbs-down {
		position: fixed;
		bottom: 1rem;
		font-size: 3rem;
	}

	#thumbs-up {
		left: -10%;
	}

	#thumbs-down {
		right: -10%;
	}

	/* Content */
	h1 {
		font-size: 2rem;
	}

}

@media only screen and (max-width: 540px) {

	/* Ratings - thumbs up/thumbs down */
	#thumbs-up,
	#thumbs-down {
		position: fixed;
		bottom: 7.5rem;
		font-size: 3rem;
	}

}
