/**
 * This is the original SASS build code for the CSS used in the theme.
 */


$max_page_width: 1200px;



$border: 1px solid #ddd;
$small-text: 0.8em;
$link_color: #d90000;
$red_color: #e74c3c;
$blue_color: #3498db;
$grey_colour: #ddd;
$font_standard_size: 1.0rem;
$font_reduced_size: 0.9rem;
$font_small_size: 0.8rem;
$font_sans_serif: "Open Sans", sans-serif;



/* =Fonts
-------------------------------------------------------------- */
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/opensans_regular/OpenSans-Regular-webfont.eot);
	src: url(../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/opensans_regular/OpenSans-Regular-webfont.woff2) format('woff2'),
		 url(../fonts/opensans_regular/OpenSans-Regular-webfont.woff) format('woff'),
		 url(../fonts/opensans_regular/OpenSans-Regular-webfont.ttf) format('truetype'),
		 url(../fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular) format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =Reset
-------------------------------------------------------------- */
body,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
}

b,strong {
	font-weight: bold;
}

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
	display: block;
}

/* =Hidden sections
-------------------------------------------------------------- */
.screen-reader-text {
	display: none;
}

/* =Links
-------------------------------------------------------------- */
a {
	text-decoration: none;
	color: $link_color;
}
a:hover {
	text-decoration: underline;
}

.button {
	display: inline-block;
	border-radius: 25px;
	display: inline-block;
	padding: 14px 28px 13px 28px;
	line-height: 1;
	border: 2px solid $red_color;
	font-family: $font_sans_serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: $red_color;
	color: #fff;

	&.blue {
		background: #fff;
		color: #000;
		border-color: $blue_color;
	}

	&:hover {
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		transition: all 300ms ease;
		min-width: 155px;
		background: #fff;
		color: $red_color;
		border-color: #fff;
		text-decoration: none;

		&.blue {
			color: #fff;
			background: $blue_color;
			border-color: $blue_color;
		}
	}
}


/* =Containers
-------------------------------------------------------------- */
.wrapper {
	width: $max_page_width;
	margin: 0 auto;
}

/* =Header
-------------------------------------------------------------- */
.site-header {
	display: block;
	background: url(../images/strattic-hero-bg.jpg);
	padding-top: 24px;
	text-align: center;

	a {
		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}

	.logo {
		float: left;
		margin-top: 11px;
		background: url(../images/Stratticlight160by30.png);
		width: 160px;
		height: 30px;
		text-indent: -999em;
	}

	nav {
		float: right;
		margin: 5px 0 0 0;
	}
	ul {
	}

	li {
		float: left;
		margin: 0 56px 0 0;
		list-style: none;
		font-family: $font_sans_serif;
		font-size: 0.75rem;
		font-weight: bold;
		letter-spacing: 0.08rem;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}
	}

	hgroup {
		margin: 0 auto;
		max-width: $max_page_width;
	}

	h1,
	h2 {
		display: block;
		clear: both;
		margin: 0;
		width: 100%;
		color: #fff;
		text-align: center;
	}

	h1 {
		font-size: 2.5rem;
		padding: 150px 0 24px 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	.button {
		margin: 52px 0 160px 0;
	}
}

/* =Blocks
-------------------------------------------------------------- */
.block-red,
.block-grey,
.block-white {
	overflow: auto;
	padding: 80px 0;
	text-align: center;

	h2,
	p {
		text-align: center;
	}
}

.block-red {
	background: $red_color;

	h2,
	p {
		color: #fff;
		text-align: center;
	}
}

.block-white {
	background: #fff;

	p {
		color: #777;
	}
}

.block-grey {
	background: #f4f4f4;
}

.block-featured {
	p {
		float: left;
		font-size: 26px;
		line-height: 32px;
	}

	.button {
		float: right;
		border: 2px solid #fff;
		background: $red_color;
		color: #fff;

		&:hover {
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			transition: all 300ms ease;
			min-width: 155px;
			background: #fff;
			color: $red_color;
			border-color: #fff;
		}
	}
}

.featured-chunk {
	float: left;
	width: 33%;
	padding: 60px 0;
	font-size: 1rem;
	font-weight: bold;
	font-family: $font_sans_serif;
	text-transform: uppercase;
}

/* =Contents
-------------------------------------------------------------- */

#content-area {
	font-size: $font_standard_size;
	font-family: $font_sans_serif;
	line-height: 1.8em;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_sans_serif;
	color: #333;
	font-weight: normal;
	line-height: 1em;
	text-transform: uppercase;

	a {
		color: #333;
	}

}

h1 {
	font-size: 2.4em;
	margin: 1em 0 0.3em;
}

h2 {
	font-size: 2rem;
	line-height: 3rem;
	margin: 0 0 1.5rem;

	&.simplified {
		text-transform: none;
	}
}

h3 {
	font-size: 1.4rem;
	margin: 1rem 0 0.3rem;
}

h4 {
	font-size: 1.3rem;
	margin: 0.7rem 0 0.2rem;
}

h5 {
	font-size: 1.2rem;
	margin: 0.7rem 0 0.2rem;
}

h6 {
	font-size: 1.1rem;
	margin: 0.5rem 0 0.15rem;
}

p,
li,
dd,
dt,
.page-links,
caption,
th,
td {
	font-size: $font_standard_size;
	font-family: $font_sans_serif;
	color: #333;
}

.page-links,
p,
li {
	margin: 1.5rem 0;
}

.page-links {
	clear: both;
}

p {
	margin: 0 0 0.6875rem;
	font-size: 1rem;
	line-height: 1.875rem;
	word-wrap: break-word;

	&.foot-note {
		font-size: 0.6875rem;
		text-transform: uppercase;
		letter-spacing: 0.075rem;
		color: #777;
		line-height: 1.5rem;
		font-weight: bold;
		text-align: center;
	}
}

ul,
ol {
	margin: 1rem 0 1rem 1.2rem;
}

ul li {
	list-style: square;
	line-height: 2rem;
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
	line-height: 2rem;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

blockquote {

	position: relative;
	margin: 1.5rem 0 1.5rem 2.5rem;
	padding: 0 1rem 0 1rem;

	p:before,
	p:after {
		font-family: serif;
		position: absolute;
		font-size: 3rem;
	}
	p:before {
		left: -0.3rem;
		top: 0.05rem;
		content:"\201C";
	}
	p:after {
		margin-top: 0.1rem;
		margin-left: 0.05rem;
		content:"\201D";
	}

}

blockquote,
blockquote p {
	color: #999;
	font-style: italic;
}

code,
pre {
	max-width: 100%;
	overflow: auto;
	font-family: monospace;
	font-size: $font_reduced_size;
}

input[type=text] {
	border: $border;
	padding: 3% 4%;
}

.search-form {

	input[type=submit],
	label {
		display: none;
	}

	input[type=text] {
		width: 90%;
		max-width: 400px;
		font-size: $font_reduced_size;
	}

}

iframe {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

body .wp-caption {
	max-width: 94%;
	margin: 1rem auto;
	padding: 2% 2% 0 2%;
	border: $border;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.wp-caption p {
	margin: 0.4rem 0;
	padding: 0 0.8rem;
	font-size: 0.8rem;
	line-height: 1.5rem;
	color: #666;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
	margin: 0.4rem auto 0;
}

.yarpp-related, /* crude solution for the YARPP plugin */
.wp-video {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* =Post contents
-------------------------------------------------------------- */

article {
	margin: 0 0 2rem 0;
	padding: 0 0 2rem 0;
	border-bottom: $border;
}

.entry-content {
	width: 100%;
	overflow: auto;
}

.thumbnail,
.attachment-excerpt-thumb {
	float: right;
	max-width: 38%;
	margin: 0 0 1rem 2rem;
}

.entry-meta {
	color: #888;
	font-family: $font_sans_serif;
	font-size: 0.8rem;
}

.alignleft {
	float: left;
	margin: 0 1rem 1rem 0;
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

.alignright {
	float: right;
	margin: 0 0 1rem 1rem;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.8rem;
	line-height: 1.7rem;
	margin: 0 0 2rem 0;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
	font-size: 1rem;
	margin: 1.5rem 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 1rem 1rem 1rem 0;
}

/* =Numeric pagination
-------------------------------------------------------------- */

#numeric-pagination {
	margin: 4rem 0 0 0;
	padding: 0 0 4rem 0;

	li {
		float: left;
		list-style: none;
		margin: 0 0.3rem;
		padding: 0;
		height: 1.6rem;
		line-height: 1.6rem;
		text-align: center;
		border: $border;
	}

	a {
		float: left;
		height: 1.3rem;
		margin: 0;
		padding: 0.1rem 0.5rem 0.2rem 0.5rem;
	}
	
	li.active a,
	li a:hover {
		background: $link_color;
		text-decoration: none;
		color: #fff;
	}

}

/* =Footer
-------------------------------------------------------------- */

.site-footer {
	width: 100%;
	text-align: center;
	background: #333;

	p {
		color: #fff;
	}
}

/* =Responsive
-------------------------------------------------------------- */

@media ( min-width: 900px ) {

}

/* =Print styles
-------------------------------------------------------------- */
@media print {

	#respond,
	.sep,
	#numeric-pagination,
	.comments-link,
	#sidebar {
		display: none;
	}

}
